#!/bin/bash
# {{ ansible_managed }}

NORDVPN_CONF="https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip"
CURL_BIN=$(which curl)
UNZIP_BIN=$(which unzip)
BASE_PATH="{{ iot_vpn_lab }}"
DOWNLOAD_FOLDER="${BASE_PATH}/nordvpn"
SORTED_CONF_FOLDER="${BASE_PATH}/sorted"
GROUP_BY_CONF_FOLDER="${BASE_PATH}/group_by_country"
TRANSPORTS=("tcp" "udp")
CREDENTIALS="{{ openvpn_credentials.path }}"

echo "Download NORDVPN configuration files"
${CURL_BIN} -sLo ${DOWNLOAD_FOLDER}/ovpn.zip --create-dirs ${NORDVPN_CONF}

echo "Unzip configuration files"
${UNZIP_BIN} -q -o ${DOWNLOAD_FOLDER}/ovpn.zip -d ${DOWNLOAD_FOLDER}

for transport in ${TRANSPORTS[@]}; do
	FOLDER="${DOWNLOAD_FOLDER}/ovpn_${transport}/"
	cd ${FOLDER}
	for f in *.ovpn; do
		COUNTRY=${f:0:2}
		mkdir -p ${SORTED_CONF_FOLDER}/${transport}/${COUNTRY} || true
		mkdir -p ${GROUP_BY_CONF_FOLDER}/${transport} || true
		$(grep -i "remote " ${f} | cut -d ' ' -f2-3 >> ${GROUP_BY_CONF_FOLDER}/${transport}/servers_${COUNTRY}.txt)
		mv $f ${SORTED_CONF_FOLDER}/${transport}/${COUNTRY}/
	done
done

#echo "Creating credentials files if file does not exist"
#if [ ! -f "${CREDENTIALS}" ]; then
#	echo "${CREDENTIALS} does not exist, creating"
#	if [ -v NORDVPN_USER ] && [ -v NORDVPN_PASSWORD ]; then
#		echo "${NORDVPN_USER}" >${CREDENTIALS}
#		echo "${NORDVPN_PASSWORD}" >>${CREDENTIALS}
#	else
#		echo "set NORDVPN_USER and NORDVPN_PASSWORD before"
#	fi
#else
#	echo "File present .. skipping credentials setting"
#fi