#!/bin/bash
# {{ ansible_managed }}

NORDVPN_CONF="https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip"
CURL_BIN=$(which curl)
UNZIP_BIN=$(which unzip)
BASE_PATH="{{ iot_vpn_lab }}"
DOWNLOAD_FOLDER="${BASE_PATH}/nordvpn"
GROUP_BY_CONF_FOLDER="${DOWNLOAD_FOLDER}/group_by_country"
TRANSPORTS=("tcp" "udp")

echo "Download NORDVPN configuration files"
${CURL_BIN} -sLo ${DOWNLOAD_FOLDER}/ovpn.zip --create-dirs ${NORDVPN_CONF}

echo "Unzip configuration files"
${UNZIP_BIN} -q -o ${DOWNLOAD_FOLDER}/ovpn.zip -d ${DOWNLOAD_FOLDER}

for transport in ${TRANSPORTS[@]}; do
    mkdir -p ${GROUP_BY_CONF_FOLDER}/${transport} || true
    FOLDER="${DOWNLOAD_FOLDER}/ovpn_${transport}/"
    cd ${FOLDER}
    for f in *.ovpn; do
        COUNTRY=${f:0:2}
        $(grep -i "remote " ${f} | cut -d ' ' -f2-3 >>${GROUP_BY_CONF_FOLDER}/${transport}/servers_${COUNTRY}.txt)
    done
    cd ${DOWNLOAD_FOLDER} && rm -rf ${FOLDER} || true
done
